.list_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    height: 50vh;
    border: solid 1px black;
     max-width: 1200px;
}

.img_card{
    width: 100%;
    height: 100%;
    position: relative;
}
.img_card img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.card_box{
    width: 100%;
    height: 100%;
}
.model{
    display: flex;
    justify-content: center;
    top:0%;
    left: 25%;
    z-index: 1;
    color: white;
    width: 48%;
    height: 3.3vh;
    background: black;
    position: absolute;
    clip-path: polygon(90% 100%, 10% 100%, 0px 0px, 100% 0px);
}
.price{
    display: flex;
    justify-content: center;
    left: 25%;
    bottom: 0%;
    color: white;
    width: 55%;
    height: 3.3vh;
    background: #39666b;
    position: absolute;
    clip-path: polygon(0px 100%, 100% 100%, 90% 0px, 10% 0px);
    z-index: 1;
    
}
.information_container{
    width: 250vh;
}
.type_card{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4vh;
    font-size: 3.5vh;
    font-weight: bolder;
    color: grey;
    margin-bottom: 2%;
    
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
}
.icon{
    font-size: 5.5vh;
    margin-left: 4%;
}
.cod_text{
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cod_text p {
    color: black;
}
.cod_box{
    display: flex;
    margin-top: 10vh;
    justify-content: space-around;
    font-size: 4vh;
}
.size_card{
    color: grey;
}
.size_card p {
    color: black;
}
.button_details{
    display: flex;
    justify-content: center;
   
}
.button_box{
    width: 15vh;
    height: 5vh;
    padding-top: 1vh;
    border-radius: 0.5vh;
    display: flex;
    font-size: 3vh;
    justify-content: center;
    color: white;
    background: black;
}